

* {
    box-sizing: border-box;
}

.container {
    margin: auto;
    max-width: 360px;
    max-height: 800px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.top-icons {
    display: flex;

}

.top-bar > p {
    font-size: 16px;
    /* margin-right: 90px; */
}

.top-bar-name {
    font-weight: bold;
}

.user-icon {
    margin-right: 16px;
}

.icon {
    width: 20px;
}

.activity-search-bar {
    padding-bottom: 20px;
    overflow-x: scroll;
}

.activity-slider {
    margin-top: 10px;
    padding: 0 5px 10px 1px;
    width: 100%;
    overflow-x: scroll;
}

.hobbie-chip:hover {
    cursor: pointer;
    color: #637EFC;
    border: 2px solid #637EFC;
}

.hobbie-chip:target {
    background-color: aliceblue;
}